*{
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: skyblue;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

nav {
    background: #fff;
    padding: 1rem 1.5rem;
    transition: all 0.3s linear;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.fixed-nav {
    transition: all 0.3s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
}   
.fixed-nav .links a {
    color: grey;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    font-size: 1.5rem;
    color: grey;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}

.show-links {
    height: 200px;
}

.links a {
    background: #fff;
    color: black;
    font-size: 1.1rem;
    text-transform: capitalize;
    display: block;
    font-weight: bold;
    padding: 0.75rem 0;
    transition: all 0.3s linear;
}

.links a:hover {
    color: grey;
    padding-left: 1rem;
}

.btn {
    text-transform: uppercase;
    background: transparent;
    color: black;
    padding: 0.375rem 0.75rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.btn:hover {
    color: white;
    background: black;
}
.btn-white {
    color: white;
    border-color: white;
    border-radius: 0;
    padding: 0.5rem 1rem;
}
.btn:hover {
    background: white;
    color: hsl(182, 63%, 54%);
}

@media screen and (min-width: 800px) {
    nav {
      background: rgba(0, 0, 0, 0.3);
    }
    .logo{
        color: white;
    }
    .fixed-nav .logo{
        color: black;
    }
    .nav-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .fixed-nav {
        transition: all 0.3s linear;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
    }  
    .nav-header {
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .links-container {
        height: auto !important;
    }
    .links {
        display: flex;
    }
    .links a {
        background: transparent;
        color: white;
        font-size: 1.1rem;
        text-transform: capitalize;
        display: block;
        transition: all 0.3s linear;
        margin: 0 1rem;
        font-weight: bold;
        padding: 1rem 0;
    }
    .links a:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        padding-right: 1rem;
    }
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
      url(./hero-bcg.jpeg) center/cover no-repeat;
}

.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.container h1 {
    color: white;
    text-transform: uppercase;
}
.container p {
    color: white;
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
    .container p {
      max-width: 40rem;
    }
}

.title h2 {
    text-align: center;
    text-transform: uppercase;
}

#about,
#services,
#tours {
    height: 80vh;
}
#services {
    background: white;
}
footer {
    background: grey;
    padding: 5rem 1rem;
}

footer p {
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0;
}

.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: rgb(9, 179, 247);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    visibility: hidden; 
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 100;
}